header{
	width: 100%;
	background: #DA70D6;
	height: 130px;
}

header .title{
	margin: 0;
	font-weight: 800;
	font-size: 6em;
	line-height: 1.3;
    font-family: Arial, sans-serif;
}

header a img{
    width: 100px;
	height: 100px;
	margin: 15px;
}
.butt {
	border-radius: 30px;
	    background-size: 50px 50px;
		width: 50px;
		height: 50px;
		margin-left: 10px;
}
    .btn-newPost{
        background-image: url('images/Add.png');
    }
    .btn-logout{
        background-image: url('images/logOut.png');
        margin-right: 40px;

    }
    .btn-login{
        background-image: url('images/logIn.png');
        margin-right: 40px;
    }

header img{
	vertical-align: middle;
    width: 50px;
	height: 50px;
    margin-right: 10px;
	margin-left: 10px;
	border-radius: 30px;
}

header .menu{
	top: 30px;
	right: 20px;
	position: absolute;
	display: flex;
}

.user {
	font-size: 20px;
	margin-top: 15px;
	text-align: right;
	font-weight: bold;
	font-family: Arial, sans-serif;
	color: white;
}

header a{
    text-decoration: none;
	color: white;
}

body{
	background-image: url(images/background.jpeg);
	background-color: black;
	background-attachment: fixed;
	background-position: top;
	webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	margin: 0;
}


 .load-more{
     width:100px; 
     height:50px;
	 margin-top: 2%;
     margin-bottom: 2%;
     margin-left: 45%;
     background-color:darkviolet;
     color: white;
     cursor: pointer;
     }
	 
.posts{
	margin: auto;
	display: flex;
	width: 800px;
	background: rgba(255, 255, 255, 0.50);
	font-family: Arial, sans-serif;
}

.main {
	align-items: center;
	margin: auto;
}

.post-icon{
	width: 60px;
	height: 60px;
    margin: 20px;
}
.text{
	flex-direction: column;
    line-height: 1px;
}
.post-name{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-top: 40px;
}

.post-date{
	text-align: left;
	font-size: 13px;
	color: white;
}

.post-image{
    width: 570px;
	margin: 5px;
}
.post-likes{
	color: white;
	font-size: 25px;
	margin: 15px 5px 10px 5px;
}
.post-buttons {
	display: flex;
}

.btn-delete{
	background-size: 32px 32px;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	background-image: url('images/delete.png');
	margin-right: 5px;
}

.btn-edit{
	background-size: 35px 35px;
	border-radius: 20px;
	width: 35px;
	height: 35px;
	background-image: url('images/edit.png');
}

.post-like{
	width: 35px;
	height: 35px;
}

.post-description{
	font: bold 15px 'Century Gothic';
	color: white;
}
.hashtags {
	font: 15px 'Century Gothic';
	color: white;
}

#post-filter{
	margin-top:0.05%;
    margin-left:26%;
	width: 180px;
	font-size: 40px;
	display: flex;
}
   .filter{
	   padding-top: 3px;
	   margin: 8px 2px 10px 0px;
	   color: rgb(0, 0, 0);
   }
#filter{
	display: inline-block;
	padding: 10px 5%;
	font: bold 16px 'Century Gothic';
	color: white;
}   

#footer {
	height: 30px;
	left: 0;
	bottom: 0;
    width: 100%;
	position: relative;
	background-color: darkviolet;
	display: flex;
	align-items: center;
	font-family: Arial, serif;
	color: white;
	font-size: 70%;
}

.last_update {
    flex-direction: column;
    line-height: 1px;
    margin-left: 10px;
}

.fotoworld {
    margin-left: auto;
    text-align: center;
    font-size: 200%;
}

.contacts{
	margin: auto 10px auto auto;
	line-height: 1px;
}