
body{
    background-image: url(images/error-fon.jpg);
    background-color: black;
    background-attachment: fixed;
    background-position: top;
    webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin: 0;
}

.error {
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 15%;
    margin-right: 55%;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.oops {
    font-size: 100px;
    margin-top: 200px;
    font-weight: bold;
}

.error-text {
    font-size: 20px;
}

.mainpage:hover{
    background-color: crimson;
}

.mainpage{
    width:100px;
    height:50px;
    margin-top: 10%;
    background-color: seagreen;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

#footer {
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: seagreen;
    display: flex;
    align-items: center;
    font-family: Arial, serif;
    color: white;
    font-size: 70%;
}

.last_update {
    flex-direction: column;
    line-height: 1px;
    margin-left: 10px;
}

.fotoworld {
    margin-left: auto;
    text-align: center;
    font-size: 200%;
}

.contacts{
    margin: auto 10px auto auto;
    line-height: 1px;
}